# Backend
backend/target/
backend/src/main/resources/application.properties
backend/test

# Frontend
frontend/node_modules/
frontend/dist/
frontend/package-lock.json

# IDE
.idea/
*.iml
.ai

# OS
.DS_Store
Thumbs.db
